.experience-section {
  background-color: #0f1115;
  color: #a0a0a0;
  padding: 6rem 2rem;
  display: flex;
  justify-content: center;
}

body.light .experience-section {
  background-color: #ffffff;
  color: #000000;
}

.experience-grid {
  max-width: 900px;
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 2rem;
  align-items: flex-start;
}

.experience-title h2 {
  font-size: 1.1rem;
  color: #4f8df9;
  letter-spacing: 2px;
  margin: 0;
  white-space: nowrap;
}

.experience-text {
  font-size: 1.02rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  color: #a0a0a0;
}

body.light .experience-text {
  color:#1e1e1e
}

.experience-text strong {
  font-weight: 600;
  color: #ffffff;              /* slightly lighter than body text */
}
body.light .experience-text strong {
  color:#000000
}

@media (max-width: 768px) {
  .experience-grid {
    grid-template-columns: 1fr;
  }

  .experience-title {
    margin-bottom: 1rem;
  }

  .experience-title h2 {
    text-align: left;
  }
}
